/* bikes.css */


/* ------------------------------------------- */
/* hero */

[id*=tern][class*=gsd] .hero,
#bikes.gsd .hero {
    background-image: url('../img/bikes/GSD_fullpage_bg.jpg');
    background-position: center center;
}

[id*=tern][class*=hsd] .hero,
#bikes.hsd .hero {
    background-image: url('../img/bikes/HSD_fullpage_bg.jpg');
    background-position: center center;
}

[id*=tern] .hero.bg_cover::before,
#bikes .hero.bg_cover::before {
    background: rgba(15,15,15,0.5);
    background: linear-gradient(
                -90deg, 
                rgba(var(--navy-rgb),0) 50%, 
                rgba(var(--navy-rgb),0.75) 100%);
}
@media screen and ( max-width: 1080px ) {
    [id*=tern] .hero.bg_cover::before,
    #bikes .hero.bg_cover::before {
        background: rgba(32,32,32,0.5);
        background: linear-gradient(
                    -90deg, 
                    rgba(var(--navy-rgb),0.66) 0%, 
                    rgba(var(--navy-rgb),0.66) 100%);
    }
}

[id*=tern] .hero,
#bikes .hero {
    width: 100%;    
    height: 100vh;
    padding-top: var(--header_height);
    color: white;
    overflow: hidden;
}


/* ------------------------------------------- */
/* meet */


[class*="meet"] {
    padding:5rem 0;
    overflow-y: auto;
    width: 100%;
}


/* ------------------------------------------- */
/* loop */

[class*="meet"] .video_wrap,
.meet_gsd .video_wrap {
    margin: 0;
    min-height: 500px;
}


.loop, video#inlineVideo {
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* width: 60vw; *
    transform: translate(-50%, -50%);
    */
    transform: scale(1.5);
}
@media screen and ( max-width: 1080px ) {
    [class*="meet"] {
        overflow-x: hidden;
    }
    [class*="meet"] .video_wrap,
    .meet_gsd .video_wrap,
    [class*="meet_"] .video_loop {
        width: 140vw
    }
    .loop, video#inlineVideo {
        width: 100vw;
        transform: scale(1);
        margin: auto;
    } 
}
@media screen and ( max-width: 680px ) {
    [class*="meet"] .video_wrap,
    .meet_gsd .video_wrap {
        min-height: 300px;
    } 
    .loop, video#inlineVideo {
        min-height: 75vw;
    }
}

/* ------------------------------------------- */
/* only the best */

section.best .img_wrap {
    margin-top: 0;
    margin-bottom: 0;
}
section.best .img_wrap img {
    height: 70vh;
}
@media screen and ( max-width: 1080px ) {
    section.best .img_wrap img {
        /* height: 90vw; */
    }
}
/* ------------------------------------------- */
/* shopping */

.shopping {}

/* ------------------------------------------- */
/* meet_gsd */

.meet_gsd {}

@media screen and ( max-width: 1080px ) {
    .meet_gsd {padding-top: 0;}
}
@media screen and ( max-width: 1080px ) {
    .meet_gsd [class*="_row"] {
        gap: 0;
    }
}

.icon_list { text-align: left; padding-left: 0;}

.icon_list li {}

.icon_list li{
    list-style-type: none;
    display: flex;
    gap: 0.75rem;
}
.icon_list li:before {
    display: inline-block;
    /* font-size: 1em; */
    line-height: 0;
    margin-left: - 1.5em;
    width: 1.5em;
    /* color: $primary-color; */
    /* content: '\e800'; */
}


.icon_cargo:before {
    content: url('../img/bikes/icon_cargo.svg');
}
.icon_parking:before {
    content: url('../img/bikes/icon_parking.svg');
}
.icon_range:before {
    content: url('../img/bikes/icon_range.svg');
}
.icon_power:before {
    content: url('../img/bikes/icon_power.svg');
}
.icon_comfortable:before {
    content: url('../img/bikes/icon_comfortable.svg');
}
.icon_solar:before {
    content: url('../img/bikes/icon_solar.svg');
}


/* video loop */

@media screen and ( max-width: 1080px ) {
    [class*="meet_"] .column_60 {
        align-items: center;
    }
    [class*="meet_"] .video_loop {
        width: 140vw
    }
}



/* ------------------------------------------- */
/* options */


.options {
    /* background-image: url("../img/bikes/GSD_options.jpg") ; */
    width:100%;
    height: var(--calc_mx_height);
}
.hsd .options,
[id*=hsd]  .options {
    /* background-image: url("../img/bikes/HSD_safety.jpg"); */
    background-image: url("http://lug.screenrage.com.au/wp-content/uploads/2022/07/LugCarrie_11235_RET.jpg");
}



.options.bg_cover::before {
    background: rgba(32,32,32,0.5);
    background: linear-gradient(
                -90deg, 
                rgba(var(--black-rgb),0) 40%, 
                rgba(var(--black-rgb),0.5) 66%, 
                rgba(var(--black-rgb),0.75) 100%);
}

@media screen and ( max-width: 1080px ) {
    [id*=tern] .bg_cover::before,
    #bikes .bg_cover::before {
        background: rgba(32,32,32,0.5);
        background: linear-gradient(
                    -90deg, 
                    rgba(var(--navy-rgb),0.66) 0%, 
                    rgba(var(--navy-rgb),0.66) 100%);
    }
}


/* ------------------------------------------- */
/*  */

[id*=tern] .testimonials,
#bikes .testimonials {
    /* margin-b ottom:5rem */
}

