#video_modal{
	display:block;
	max-width: 90vw;
	max-height: 90vh;		
}

:root {
	--aspect-ratio: calc(16 / 9 );
}


#video_modal iframe{
	max-height: calc( 90vh - 4rem );		
	max-width: calc( (90vh - 4rem )  * var(--aspect-ratio) );	
}


#video_modal_outer{
	z-index: 99999;
	margin: auto;
	padding: 1rem;
	background-color: white;
	max-height: 85vh;
	width: 85vw;
	position:fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
	
#video_modal_outer .close {
	position: absolute;
	width: 3rem;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	padding: 0.75rem;
	top: -1.5rem;
	right: -1.5rem;
	background-color: #fff;
	z-index: 9999999999;
	color: black;
	cursor: pointer;
	font-weight: 900;
	text-align: center;
}	


#fullscreen2{
	z-index: 88888;
	position: fixed;
	top: 0;
	background: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
}
#fullscreen2 ._row {
	height:100%;
	width: 100%;
	margin:0;
}
@media screen and (max-width:1080px){    
	#fullscreen2 ._row {
		gap: 0;
	}
}

#fullscreen2 section {
	padding:0;
}

#fullscreen2 .accessory_detail{
	background-color: white;
	padding:1.5rem;
	margin:2.5vh 2.5vw;
	max-height: 85vh;
	width: 85vw;
	max-width: calc((85vh - 1.5rem) / 0.5625);
	position:absolute;
	top: calc(50% - 2.5vw);
	left:calc(50% - 2.5vw);
	transform:translate(-50%,-50%);
}

@media screen and (max-width:1080px){    
	#fullscreen2 .accessory_detail{
		max-width: 500px;
		width: 100%;
	}
}
@media screen and (max-width:600px){    
	#fullscreen2 .accessory_detail{
		max-width: calc(95% - 2rem);
	}
}

#fullscreen2 .listing-single {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(85vh - 4rem);
	display: block;
}

#fullscreen2 .accessory_detail .img_wrap{
	margin:0;
}
#fullscreen2 .accessory_detail img {
	max-height: calc(85vh - 4rem);
}
@media screen and (max-width:1080px){    
	#fullscreen2 .accessory_detail .img_wrap{
		/* width: 50%; */
	}
}
@media screen and (max-width:1080px){    
	#fullscreen2 .accessory_detail .text_block {
		padding: 1rem 0;
	}
}

#fullscreen2 h3 {
	--max-fs: 2.5;
}

@media screen and (max-width:1080px){    
	#fullscreen2 .accessory_detail .button_wrap_left {
		margin-bottom: 0;
	}
}

#fullscreen2 .close{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 20px;
	background: white;
	position: absolute;
	top: -1rem;
	right: -1rem;
	padding: 15px;
	line-height: 0.5;
}

#fullscreen2 .close:before{
	content:"X";
}

.the_school_bus_HSD{
	display: none !important;
}
.the_beach_buggy_HSD{
	display: none !important;
}


/* reviews */

.event-excerpt {
	margin-bottom: 0;
}
.event-excerpt span {
	display: block;
	margin-top: 0.5rem;
}

.event-excerpt span:hover {
	text-decoration: underline;
}

/* ---------------------------------- */
/* waiting (footer.php) */

.waiting_for_response{
	width: 100%;
    height: 100%;
    min-height: 25vh;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_waiting_for_response{
	text-align: center;
	padding:20px;
	margin:10px;
	font-weight: bold;
	color: var(--navy);
}

.button.disabled, .goto.disabled{
	opacity:0.33;
	background-color:light-gray;
}


/* ---------------------------------- */
/* calendar */

.hidden{ display:none }

.mb-4 { margin-bottom: 1rem; } 
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.ml-auto {margin-left: auto;}


.w-64{ width:16rem }
@media screen and (max-width:1080px){    
	.w-64{ width:100% }
}

.overflow-y-scroll {
	overflow-y:scroll
}

.space-x-1>:not([hidden])~:not([hidden]){
	--tw-space-x-reverse:0;
	margin-right:calc(0.25rem*var(--tw-space-x-reverse));
	margin-left:calc(0.25rem*(1 - var(--tw-space-x-reverse)))
}
.space-x-2>:not([hidden])~:not([hidden]){
	--tw-space-x-reverse:0;
	margin-right:calc(0.5rem*var(--tw-space-x-reverse));
	margin-left:calc(0.5rem*(1 - var(--tw-space-x-reverse)))
}


/*  */

@media screen and (max-width:1080px){    
	.content_calendar_outer {
		min-width: unset;
	}
}

/* Calendar--table" */

.Quiz--calendar,
.Calendar--calendar {
	gap: 3rem;
}
@media screen and (max-width:1080px){    
	.Quiz--calendar,
	.Calendar--calendar {
		gap: 2rem;
		flex-direction: column;
		max-width: 350px;
		max-height: unset !important;
		margin: auto;
	}
}


.calendarTable {}
.calendarTable caption{
	margin-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.inline-flex {
	display: inline-flex;
}

.items-center {
	align-items: center;
}


/* available_slots */

#available_slots {
	max-height: 346px;
    overflow: hidden;
    min-width: 270px;
}
.slot_list {
	max-height: 346px;
}

.Quiz--calendar ul {
	list-style: none;
	padding-left: 0;
	padding-right: 1rem;
}

.Quiz--calendar ul li label{
/* min-width: 256px */
}

.Quiz--calendar ul li button {}
/* button */
.confirm_booking_time {
	min-width: unset;
	padding: 0.75rem;
    max-height: unset;
    border-radius: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.Calendar--calendar input[type=radio] label {
	width: 100%;
}
.Calendar--calendar input[type=radio]:checked label {
	width:50%;
}

.Calendar--calendar input[type=radio] .confirm_booking_time,
.Quiz--calendar ul li input+div .button {
	width: 50%;
	opacity: 0;
    margin-right: -100%;
}

.Calendar--calendar input[type=radio]:checked .confirm_booking_time,
.Quiz--calendar ul li input:checked+div .button {
    width: 100%;
}


/* hide footer on config page */
#build-your-bike footer,
#configure footer{
	display: none;
}