/* 
fullscreen.css 
pop up 
*/

#fullscreen {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    width: 100%;
    width: 100vw;
    left: 0;
    /* top: var(--header_height);
    height: calc(100vh - var(--header_height)); */
    top:0;
    padding-top: var(--header_height);
    height: 100vh;
    background-color: rgba(var(--white-rgb), 0.95);
    -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    z-index: -1111;
}

@media screen and (max-width: 1080px){
    #fullscreen {
        overflow-y: auto !important;
    }
}

#fullscreen.active {
    visibility: visible;
    opacity: 1;
    z-index: -1;
}


#fullscreen ._row {
    width: 100%;
    justify-content: center;
    align-content: center;
    gap:0;
}

@media screen and (max-width: 1080px){
    #fullscreen .three_col._row {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        min-height: 0; /* without min-height/height:0 flex:1 doesn't work */
        overflow: auto;
        /* padding-top: var(--header_height); */
        padding-top: 5%;
        padding-bottom: var(--header_height);
    }
}    

#fullscreen [class*="_block"] {
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

[class*="gs_icon"] {
    padding:0 1rem 1rem 1rem;
}

[class*="gs_icon"] svg {
    height: 60px;
}

#fullscreen .column_third {
    max-width:calc((1200px * var(--columns)/10) - (var(--columns) * 1rem ));
}

@media screen and (max-width: 1200px){
    #fullscreen .column_third {
        max-width:calc((100vw * var(--columns)/10) - (var(--columns) * 1rem ));
    }
}
@media screen and (max-width: 1080px){
    #fullscreen .column_third {        
        max-width: 350px !important;
    }
}

#fullscreen .column_third [class*="_group"]{
    height:100%;
}

#fullscreen .close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 0.75rem;
    top: calc(var(--header_height) + 2rem);
    right: 2rem;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    z-index: 8888;
    color:black;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#fullscreen .close:hover {
    background-color: white;
    border: 1px solid var(--gray-200);
}

#fullscreen .close:after {
    display: block;
    content:url("data:image/svg+xml,%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.62704 32.62635'%3E%3Cpath d='M31.89473,28.3585l-12.04567-12.04567L31.89404,4.26785c.97642-.97642,.97642-2.55912,0-3.53553s-2.55912-.97642-3.53553,0l-12.04498,12.04498L4.26854,.73231c-.97642-.97642-2.55912-.97642-3.53553,0s-.97642,2.55912,0,3.53553l12.04498,12.04498L.73231,28.3585c-.97642,.97642-.97642,2.55912,0,3.53553s2.55912,.97642,3.53553,0l12.04567-12.04567,12.04567,12.04567c.97642,.97642,2.55912,.97642,3.53553,0s.97642-2.55912,0-3.53553Z' fill='%2367cadc'/%3E%3C/svg%3E");
    transform: rotate(0deg);
    /*  */
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#fullscreen .close:hover::after {
    transform: rotate(135deg) translateY(0px);
    transform-origin: center center;
}

