/* signup.css */




/* ------------------------------------------- */
/* hero */


body[id*="signup"],
#self-checkout-signup header,
#signup header {
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
}

body[id*="signup"] header::before,
#signup header::before {
    background: none;
}

/* ------------------------------------------- */
/* hero */

[id*="book-a-"] section[id*="stage_"],
[id*="signup"] section[id*="stage_"]
#signup .signup_intro {
    margin-top: var(--header_height);
    background: var(--gray-100);
    padding-bottom: 5rem;
}


[class*="_wrap"] label[class*="checkbox"] {
    
}


/* ------------------------------------------- */
/* sections */

section[id*="stage"] {
    justify-content: flex-start !important;
    margin-top: var(--header_height);
    margin-bottom: 5rem;
    min-height: calc(100vh - var(--header_height) - var(--footer-height) - 4.9rem);
}

section[id*="stage_"] .white_bg p {
    margin-bottom: 0;
}


label.right {
	font-size: 0.75rem;
}

/* ------------------------------------------- */
/* timeline */

@media screen and (max-width:1080px){    
    .progress_timeline {
        max-width: 670px;
        
    }
}

/* ------------------------------------------- */
/* form alts */

 
.select_group { }
.select_wrap { }
.select_query {margin-bottom:0.5rem;}


.outer_reason_label{ 
    margin-left: 1.35rem;
}
/* label.radio, */
.reason_label {
    font-size: 0.8rem;
}

/* label.lrg, */
.reason_label.lrg {
    font-size: 0.875rem;
}


/* .forms label[class*="radio"], */
.forms label[class*="reason_label"] {
    display: inline-block;
    width: fit-content;
}

/* [class*="select_group"] label.radio, */
[class*="select_group"] label.reason_label {
    align-items: center;
    text-indent: -1.35rem;
}
.forms label.reason_label input[type=radio] {
    margin-right: 0.5rem;
}



/* ------------------------------------------- */
/* congrats */

section#stage_7 {
	min-height: calc(100vh - var(--header_height));
}




/* ------------------------------------------- */
/* STRIPE */


#loginform label {
    display: flex;
    align-items: center;
}
input#rememberme {
    width: auto;
    margin-right: 0.5rem;
}