<div class="contract">
    <p><strong>Contract Details</strong>.</p>

    <div class="_panel center">
        <div class="table" id="results">
            <div class='theader'>
              <div class='table_header'>Item</div>
              <div class='table_header'>Name</div>
              <div class='table_header'>GSD</div>
            </div>
            <div class='table_row'>
              <div class='table_small'>
                <div class='table_cell'>Item</div>
                <div class='table_cell'>Item 1.</div>
              </div>
              <div class='table_small'>
                <div class='table_cell'>Name</div>
                <div class='table_cell'>Lug+Carrie</div>
              </div>
              <div class='table_small'>
                <div class='table_cell'>Detail</div>
                <div class='table_cell'>
                    <div class="_group">
                        Name: Lug & Carrie Pty Ltd<br>
                        ABN: 87 637 140 044<br/>
                        Email: info@lug-carrie.com
                    </div>
                </div>
              </div>                                                  
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 2.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Customer</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        Name:<br>
                        Address:<br>
                        Telephone:<br>
                        Email:<br>
                        ABN/ACN:
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 3.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Customer Type</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                          • retail customer<br/>
                          • commercial customer
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 4.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Bike</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        Number of bikes<br>
                        Model<br>
                        SN
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 5.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Accessories:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 6.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Storage Location:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 7.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Commencement Date:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 8.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Expiry Notice Period:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_group">
                        [28 days]
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 9.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Purchase Option:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell'>
                      <div class="_wrap">
                        [The later of the date which is Date:
                        <ol >
                            <li class="alpha">26 weeks after the Commencement Date; and</li>
                            <li class="alpha">If the Customer took possession of the Bike via a swap under clause 5, 26 weeks from the date the Customer took possession of the Bike. ]</li>
                        </ol>
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 10.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Subscription Amount and Payment</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell' data-attr="detail">
                      <div class="_wrap">
                        
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 11.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Delivery or Pick Up Fee:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell' data-attr="detail">
                      <div class="_wrap">
                        $60 (inc GST)]
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 12.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Swap Fee:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell' data-attr="detail">
                      <div class="_wrap">
                        <ol>
                            <li class="alpha">Bike: [$180 (inc GST)]</li>
                            <li class="alpha">Accessories: [$30 (inc GST)]</li>
                        </ol>
                      </div>
                  </div>
                </div>
            </div>

            <div class='table_row'>
                <div class='table_small'>
                  <div class='table_cell'>Item</div>
                  <div class='table_cell'>Item 13.</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Name</div>
                  <div class='table_cell'>Authorised Riders:</div>
                </div>
                <div class='table_small'>
                  <div class='table_cell'>Detail</div>
                  <div class='table_cell' data-attr="detail">
                      <div class="_wrap">
                        
                      </div>
                  </div>
                </div>
            </div>

            <!-- <div>to be completed...</div> -->
            
            
          </div>
    </div>                                        

</div>